@charset "UTF-8";

.visual { background-image: url(../img/sub4-1-img/visual.png);}

/* common-box -S */
.main { font-size: 16px; line-height: 20px; color: #777;}
h5 { font-size: 24px; line-height: 28px; color: #333;}
.common-img { margin-bottom: 50px;}
.common-name { margin-bottom: 90px;}
.common-name-tit { 
    float: left;
    width: 160px;
    margin-right: 60px;
}
.common-name-description { 
    float: left;
    width: 830px;
    line-height: 34px;
}
.common-name-description strong { 
    display: inline-block;
    margin-bottom: 34px;
}
.common-persona { margin-bottom: 90px;}
.common-persona h5 { 
    float: left;
    margin-right: 130px;
}
.common-persona p { float: left;}
.common-lecture { margin-bottom: 90px;}
.common-lecture h5 {
    float: left; 
    margin-right: 140px;
}
.common-content { float: left;}
.common-con {
    float: left;
    margin-right: 110px;
}
.common-con h6{ 
    border: 2px solid #f47e33; border-radius: 12px;
    width: 150px;
    margin-bottom: 20px;
    line-height: 56px; color: #f47e33; text-align: center;
}
.adult .common-con:nth-child(2) h6 { width: 180px;}
.common-etc h5{ 
    float:left;
    margin-right: 180px;
}
.etc-description { 
    float :left;
    width :690px;
}
/* common-box -E */

/* kid sec -S */
.kid .common-content {float: left;}
.kid .common-con {
    width: 170px;
    margin-right: 30px;
}
.kid .common-con h6 { width: 60px;}
.kid .common-con em {font-size: 16px;}
.kid .common-con p {font-size: 16px;}
.kid .common-etc { margin-bottom: 130px;}
.kid .common-box:nth-of-type(2) .common-con h6 {width: 82px; height: 56px;}
.kid .common-box:nth-of-type(2) .common-etc {margin-bottom: 233px;}
/* kid sec -E */